@font-face {
    font-family:DS;
    src:url(../font/DancingScript-Regular.ttf);
}

/*#cabecera{
  flex-wrap: wrap;

}*/


.cabecera{
  width:100%;
  background-color: #5b7989;
  border-radius: 15px;
  padding:10px;
}

.cabecera h1{
  font-family: DS;
  color: white;
  filter:drop-shadow(2px);
  /*height: 150px;*/

  text-align: left;

  display:inline;
  /*width:100%;*/
  /*order: 1;*/
}

.cabecera ul{
  list-style-type:none;
  margin:0;
  padding:0;
  top: 0;
}

.cabecera li{
  display:inline;

}

.cabecera li a{
  display:block;
  color:white;
  text-align:right;
  float:right;
  padding:8px;
  /*width:60px;*/
}


.cabecera p{
  font-family: DS;
  display:inline;
  color:white;
  float:right;
}

body{
  background-color: #02010a;
}

ul{
    list-style-type: none;
    margin:0;
    overflow:hidden;
    /*height:100%;*/
}

#cabecera ul li{
  float:right;
  /*display:block;*/
  margin: 0px 5px;
  padding: 15px 0px;
  height:100%;
}

.menu-principal{
  background-color: #5b7989;
  float:right;
  color: white;
  font-family: Arial;
  display:inline;
}

#img-central{
  display:block;
  text-align: center;
  width:50%;
  margin:auto;
  border: 1px solid green;
  padding:10px;
  background-color: #82c3a6;

}

#img-izquierda{
  object-fit: fill;
  display:block;
  width:45%;
  float:left;
  margin:auto;
  /*right:10px;*/
  /*padding: 10px;*/
  border: 1px solid green;
  overflow: auto;
  background-color: #d5c75f;

}

#img-izquierda:hover{
  transform: rotate(10deg);
  background-color: #82c3a6;
  border: 2px;
}

#img-izquierda img{
  width:100%;
}

#img-derecha{
  display:block;
  width:45%;
  left:0px;
  margin:auto;
  /*padding: 10px;*/
  border: 1px solid green;
  overflow: auto;
  background-color: #d5c75f;
}

#img-derecha:hover{
  -ms-transform: translate(20px, 5px); /*IE 9*/
  -webkit-transform: translate(20px, 5px); /*Safari*/
  transform: translate(20px, 5px);
  background-color: #82c3a6;
  border: 2px;
}

#img-derecha img{
  width:100%;
}
/*img{
  width:100%;
}*/
.imagen-central{
  width:50px;
}

footer{
  clear:both;
  border-radius:10px;
  background-color:#C6d5c5;
}
