body{
  background-color: #02010a;
}

@font-face {
    font-family:DS;
    src:url(../font/DancingScript-Regular.ttf);
}

.cabecera{
  width:auto;
  background-color: #5b7989;
  border-radius: 15px;
  padding:20px;
  font-family: DS;
  color:white;
}

.cabecera h1{
  filter:drop-shadow(2px);
  text-align: left;
  display:inline;
  /*width:100%;*/
  /*order: 1;*/
}

.cabecera ul{
  list-style-type:none;
  float:right;
  margin:0;
  padding:1.5%;
  top:0;
}

.cabecera li{

  display:inline;

}

.cabecera li a{
  color:white;
  padding: 8px;
  /*border-style: dotted;
  border-width: 2px black;*/
}


.cabecera p{
  display:inline;
  color:white;
  float:right;
}


#img-central{
  display:block;
  text-align: center;
  width:50%;
  margin:auto;
  border: 1px solid green;
  padding:10px;
  background-color: #82c3a6;

}

#img-izquierda{
  object-fit: fill;
  display:block;
  width:45%;
  float:left;
  margin:auto;
  /*right:10px;*/
  /*padding: 10px;*/
  border: 1px solid green;
  overflow: auto;
  background-color: #d5c75f;

}

#img-izquierda:hover{
  transform: rotate(10deg);
  background-color: #82c3a6;
  border: 2px;
}

#img-izquierda img{
  width:100%;
}

#img-derecha{
  display:block;
  width:45%;
  left:0px;
  margin:auto;
  /*padding: 10px;*/
  border: 1px solid green;
  overflow: auto;
  background-color: #d5c75f;
}

#img-derecha:hover{
  -ms-transform: translate(20px, 5px); /*IE 9*/
  -webkit-transform: translate(20px, 5px); /*Safari*/
  transform: translate(20px, 5px);
  background-color: #82c3a6;
  border: 2px;
}

#img-derecha img{
  width:100%;
}
/*img{
  width:100%;
}*/
.imagen-central{
  width:50px;
}

footer{
  clear:both;
  border-radius:10px;
  background-color:#C6d5c5;
}
